version: "3.9"

services:
  db:
    image: postgres:15
    container_name: saas_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Admin1234
      POSTGRES_DB: saas_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: